* {
  margin: 0;
  padding: 0;
}

.alinhas_destaques {
  /* background-color: burlywood; */
  margin: 2vw;
  padding: 2vw;
  width: 96vw;
  height: 140vw;
  display: block;
  border-radius: 1px;

}

.destaques {
  float: left;
  width: 40VW;
  height: 40vw;
  margin-left: 4vw;
  margin-top: 4vw;
  background-color: red;


  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #5a5a5a,
    -5px -5px 10px #ffffff;


}